body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
    margin:0;
    padding:0;
    font-family:Arial;
}

body{
    background: url("../images/theme/header_bg.gif") repeat-x;
}

a{
    color:#575B5E;
	outline:0 none;
}

a img{border:none;}

h1, h2{
    font-size:27px;
    color:#424242;
    margin:30px 11px;
    font-weight:normal;
}

h2{
	margin-left:0px;
}
  
h3{
	font-family:Arial;
	font-size:20px;
	color:#414141;
}

h3 select{
	margin-left:30px;
}   

p{
    font-size:14px;
    color:#575B5E;
    line-height:161.82%;
}

a{
    text-decoration:none;
}

.clear{
    clear:both;
    height:0px;
}

.container {
    margin:0 auto;
    width:972px;
}

#logo{
    height:74px;
    width:189px;
    float:left;
    margin-right:189px;
}

#home_header{
    height:386px;
}

#header{
    height:280px;
}

#interior_bottom_header{
    height:18px;
    background: url("../images/theme/interior_header_bottom.gif") repeat-x;
    background-color:#fff;
}

#menu{
    width:594px;
    float:left;
    height:83px;
}
#menu ul{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
#menu li{
   overflow:hidden;
   text-indent:-9999px;
   display:inline;
   float:left;
}
#menu li a{
    background: url("../images/theme/menu_home.png") no-repeat;
    display:block;
    height:76px;
}
#menu li.potraits{width:156px;}
#menu li.potraits a{background-position:-0px -76px;}
#menu li.potraits a:hover{background-position:0px 0px;}
#menu li.potraits a.current{background-position:0px 0px;}
#menu li.seniors{width:133px;}
#menu li.seniors a{background-position:-156px -76px;}
#menu li.seniors a:hover{background-position:-156px 0px;}
#menu li.seniors a.current{background-position:-156px 0px;}
#menu li.yearbooks{width:163px;}
#menu li.yearbooks a{background-position:-289px -76px;}
#menu li.yearbooks a:hover{background-position:-289px 0px;}
#menu li.yearbooks a.current{background-position:-289px 0px;}
#menu li.contact{width:142px;}
#menu li.contact a{background-position:-452px -76px;}
#menu li.contact a:hover{background-position:-452px 0px;}
#menu li.contact a.current{background-position:-452px 0px;}

#main_message{
    float:left;
    margin:15px 40px 0 0px;
}

#main_message_image{
    margin-top:25px;
}

#main_message_other{
    float:left;
    margin:37px 40px 0 81px;
}

#main_message_image_other{
    margin-top:0px;
}

#home_buttons{
    background: url("../images/theme/css.png") repeat-x;
    background-color:#fff;
    height:91px;
    padding-top:7px;
}

.home_buttons{
    margin-left:13px;
    float:left;
}

.home_buttons a, .home_buttons_other a{
    display:block;
    width:298px;
    height:68px;
}

.home_buttons_other{
    margin-left:27px;
    float:left;
}

#home_button_one{
    background: url("../images/theme/home_buttons.png") no-repeat;
    width:298px;
    height:68px;
    background-position:0px 0px;
    overflow:hidden;
    text-indent:-9999px;
}

#home_button_one:hover{
    background-position:-298px -0px;
}

#home_button_two{
    background: url("../images/theme/home_buttons.png") no-repeat;
    width:298px;
    height:68px;
    background-position:0px -68px;
    overflow:hidden;
    text-indent:-9999px;
}

#home_button_two:hover{
    background-position:-298px -68px;
}

#home_button_three{
    background: url("../images/theme/home_buttons.png") no-repeat;
    width:298px;
    height:68px;
    background-position:0px -136px;
    overflow:hidden;
    text-indent:-9999px;
}

#home_button_three:hover{
    background-position:-298px -136px;
}

#home_content{
    margin-top:24px;
    padding:0 22px;
}

#content{
    background-color:#fff;
}

#main_content{
    
}

.home_paragraph{
    line-height:155.08%;
    letter-spacing:-.2px;
    height:168px;
}

.home_read_more a{
    color:#231F20;
    letter-spacing:-.2px;
}

.home_read_more a:hover{
    color:#397AA6;
}
.left_two_equal { 
    width: 50%; 
    float: left; 
    padding:44px 0 54px 0;
    text-align:center;
}
.left_two_equal:hover, #left_two_equal_current{
    background-color:#C9E8FD;
}

.left_two_equal h1, .left_two_equal p{
    text-align:left;
    margin-left:29px;
}

.right_two_equal { 
    width: 50%; 
    float: right;
    padding:44px 0 54px 0;
    text-align:center; 
}
.right_two_equal:hover, #right_two_equal_current{
    background-color:#C9E8FD;
}

.right_two_equal h1, .right_two_equal p{
    text-align:left;
    margin-left:29px;
}
.mid_three_equal{
    float:left;
    width:324px;
    padding:44px 0 54px 0;
    text-align:center;
}

.mid_three_equal:hover, #mid_three_equal_current{
    background-color:#C9E8FD;
}

.mid_three_equal h1, .mid_three_equal p{
    text-align:left;
    width:266px;
    margin-left:29px;
}

#interior_sidebar{
    float:left;
    width:253px;
}

#interior_sidebar_menu{
    background: url("../images/theme/sidebarbg.png") no-repeat 89% 0%;
	height:700px;
    padding-bottom:6000px;
    margin-bottom:-6000px;
}

#interior_sidebar_menu ul{
    list-style-type:none;
}

#interior_sidebar_menu li{
    width:353px;
    height:59px;
    color:#424242;
    font-size:20px;
}

#interior_sidebar_menu li.current a{
    background: url("../images/theme/side_arrow.png") no-repeat;
    color:#fff;
}

#interior_sidebar_menu li.current a:hover{
	color:#fff;
}

#interior_sidebar_menu li a{
    width:271px;
    height:41px;
    display:block;
    padding-left:72px;
    padding-top:11px;
    color:#424242;
    font-size:18px;
	font-family:Arial;
} 

#interior_sidebar_menu li a:hover{
	color:#81C5F9;
}

.this_page{
    height:41px;
    color:#424242;
    font-size:20px;
    padding-left:82px;
    padding-top:22px;
}

.heading{

    color:#8E8D8D;
    padding-top:18px;
    margin-bottom:18px;
	font-size:12px; 
	color:#8D8D8D;
	text-align:center;
}

#interior_page_content{
    float:left;
    width:678px;
    margin-left:-22px;
}

#interior_page_content ul{
	padding-left:33px;
	list-style-image: url("/images/theme/ul.png")
}                     

#interior_page_content ul li{
	margin-bottom:10px;
}

#interior_page_content h1{
    margin-left:0px;
    padding-top:18px;
    padding-left:51px;
    padding-bottom:17px;
	width:676px;
	font-family:Arial;
	font-size:36px;
	color:#414141;
}

#interior_half_box{
    margin-left:38px;
}

.interior_half_box{
    float:left;
    width:292px;
    padding-left:13px;
    padding-top:16px;
    min-height:297px;
}

.interior_half_box h2, .interior_half_box p{
    text-align:left;
    width:266px;
    margin-left:6px;
}

.interior_half_box h2{
    margin-top:25px;
    margin-bottom:16px;
}

.interior_half_box:hover{
    background-color:#C9E8FD;
}

#interior_quarter_box{
    margin-left:38px;
}

.interior_quarter_box{
    float:left;
    width:130px;
    padding-left:20px;
	padding-right:10px;
    padding-top:16px;
    min-height:148px;
}

.interior_quarter_box h2, h3, .interior_quarter_box p{
    text-align:center;
    width:133px;
    margin-left:6px;
}

.interior_quarter_box h2, h3{
    margin-top:25px;
    margin-bottom:16px;
}

.interior_quarter_box:hover{
    background-color:#C9E8FD;
}

#programs{
    margin-left:54px;
}

#programs p, #interior_page_content ul{
    margin-bottom:32px;
    color:#424242;
    font-size:15px;
    line-height:160%;
    width:676px;
}

.gallery{
    float:left;
    background: url("../images/theme/gallery_bg.png") no-repeat;
    width:141px;
    height:142px;
    margin:0 4px 6px 0;
}

.gallery img{
    margin:0 auto;
    margin:15px 0 0 14px;
}

.contactbox{
	background-color:#F6F1EA;
	padding:26px 28px;
	margin-left:30px;
	margin-bottom:32px;
}

.contactbox p{
	text-align:right;
	margin:10px 38px 0px 0px;
	font-size:13px;
} 

.contactbox p input{
	width:325px;
	font-size:14px;
	padding:7px 0 7px 12px;
	line-height:14px;
}

.cbcontactbox{
	background-color:#F6F1EA;
	padding:26px 28px;
	margin-left:30px;
	margin-bottom:32px;
}

.cbcontactbox p{

} 

.cbcontactbox p input{

}

.gallery_page {
background:url("../images/theme/gallery_bg.png") no-repeat scroll 0 0 transparent;
float:left;
height:202px;
margin:0 4px 6px 0;
width:141px;
}

.gallery_page img {
margin:15px 0 0 16px;
}

#footer{
    height:110px;
    background: url("../images/theme/css.png") repeat-x;
    background-position:-0px -107px;
    padding-top:61px;
    color:#fff;
    font-size:12px;
}

#footer_interior{
    height:253px;
    background: url("../images/theme/css.png") repeat-x;
    background-position:-0px -354px;
    padding-top:16px;
    color:#fff;
    font-size:12px;
}

#footer ul, #footer_interior ul{
    list-style-type:none;
}

#footer_interior ul{
    margin-top:56px;
    padding-left:18px;
}

#footer li, #footer_interior li{
    display:inline;
    margin-left:4px;
}

#footer li a, #footer_interior li a{
    text-transform:uppercase;
    color:#fff;
    text-decoration:none;
    margin-right:5px;
}

#footer p span, #footer_interior p span{
    margin:0 6px;
}

#footer_search{
    background: url("../images/theme/search_the_site.gif") no-repeat;
    height:34px;
    float:left;
    margin:3px 37px 0 10px;
}

.footer_img{
    float:left;
}

#search_header{
    margin-left:260px;
}

#search_header input{
    vertical-align:middle;
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	z-index:9999;
	position:relative;
} 
/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}
/* prev, next, prevPage and nextPage buttons */
a.browse {
	display:block;   
	height:49px;
	float:left;
	margin:50px 0px;
	cursor:pointer;
	font-size:1px;
}
/* right */
a.right{ background:url(../images/theme/right.png) no-repeat; clear:right;width:49px;} 
/* left */
a.left{background:url(../images/theme/left.png) no-repeat; margin-left: 0px;width:114px; }                                           
/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
}    

.boxgrid{
	width: 225px;
	height: 146px;
	float:left;
	overflow: hidden;
	position: relative;
}
.boxgrid img{
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

.boxcaption{
	float: left;
	position: absolute;
	background: #000;
	height: 100px;
	width: 100%;
	opacity: .9;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}   

.captionfull .boxcaption {
	top: 180px;
	left: 0;
} 

/* container for slides */ 

#gallery{

}   

.images {
	position:relative;	
	height:248px;
	width:760px;
	float:left;	
	margin:0 0px 0 45px;
	cursor:pointer;  
}

/* single slide */
.images div {
	display:none;
	position:absolute;
	top:0;
	left:0;		
	height:250px;
	font-size:12px;
}

/* header */
.images h3 {
	font-size:22px;
	font-weight:normal;
	margin:0 0 20px 0;
	color:#456;
}  

.gallery{
	width:100%;
	overflow:hidden;
	height:58px;
}

/* tabs (those little circles below slides) */
.tabs {
	margin-left:216px;
}

/* single tab */
.tabs a {
	width:10px;
	height:10px;
	float:left;
	background:url(../images/theme/navi.png) -15px 0 no-repeat;
	display:block;
	font-size:1px;
	color:#fff;
	margin:5px 11px 0px 0px;		
}

/* mouseover state */
.tabs a:hover {
	background-position:-15px 0;      
}

/* active state (current page state) */
.tabs a.current {
	background-position:0px 0;     
} 	


/* prev and next buttons */
.forward, .backward {
	float:left;
    margin-top:-3px;
	display:block;
	width:27px;
	height:27px;
	cursor:pointer;
	font-size:1px;
	color:#fff;	
} 

.backward{
	margin-left:179px;
}

.forward{
	margin-left:;
}

/* next */
.forward 				{ background:url(../images/theme/next.png) no-repeat;clear:right; }
/*.forward:hover 		{ background-position:-30px -30px; } */
/*.forward:active 	 	{ background-position:-60px -30px; } */


/* prev */
.backward 				{ background:url(../images/theme/prev.png) no-repeat;clear:right; }
/*.backward:hover  		{ background-position:-30px 0; }
.backward:active  	{ background-position:-60px 0; }  */

/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled {
	visibility:hidden !important;		
}

#login_form{
	background:url(../images/theme/form_bg.png) no-repeat;
	width:570px;
	height:186px;
	padding-top:51px;
	text-align:right;
	margin-left:51px;
}

#login_form #inputs{
	background:url(../images/theme/pass_input.png) no-repeat;
	padding:18px;
	border:none;
	font-size:14px;
	line-height:24px;
	width:198px;
	margin-right:33px;
	text-align:center;
} 


