<h1>Step 4: Learn More</h1>
  <p>Dr. Rawls' book, health revitalization program, and detoxification protocol.</p>
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/healthfirst.jpg", :alt => "First Do No Harm Product Health First", :style => "") %>
    </div>
    <div id="grouptext">
      <h2>Dr. Rawls' Health Revitalization Program</h2>
      <a href="/groups/80-dr-rawls-health-revitalization-program"><%= image_tag("../images/theme/shopnow.jpg", :class=>"shopnow") %></a>
    </div>
  </div>
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/detox.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
    </div>
    <div id="grouptext">
      <h2>Detoxification Protocol</h2>
      <a href="/groups/63-detoxification-protocol"><%= image_tag("../images/theme/shopnow.jpg", :class=>"shopnow") %></a>
    </div>
  </div>
  