<h1>Article tagged with <i><%=h @tag.name %></i></h1>
<p style="margin-left: 20px;">
  <% for article in @tag.articles %>
  <%= link_to article.title, article, :style=>"text-decoration: underline; padding-right: 10px;" %> written on <%= article.created_at.strftime('%b %d, %Y') %><br />
  <% end %>
</p>